*{
    background:hsl(226, 43%, 10%);
    font-size: 20px;
    color: white;
}

.container{
    
}
.desktop-grid{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}
.grid{

}
.expand{
    grid-row: 2 / span 2;
}
.box{

}
.box h2{

}
.box p{

}